:root {
  --color-primary: #27627b;
  --color-primary-dark: #1b4455;
  --color-primary-darker: #215368;
  --color-accent: #aa8a55;
  --color-error: #d24d2a;
  --color-highlight: #fad368;
  --color-near-black: #18130c;

  --text: #222222;
  --text-h: #18130c;
  --bg: #ebebeb;
  --bg-panel: #ffffff;
  --border: #cccccc;
  --code-bg: #f4f3ec;
  --accent: var(--color-primary);
  --accent-bg: rgba(39, 98, 123, 0.08);
  --accent-border: rgba(39, 98, 123, 0.4);
  --shadow:
    rgba(0, 0, 0, 0.15) 0 10px 15px -3px, rgba(0, 0, 0, 0.08) 0 4px 6px -2px;

  --sans: Helvetica, Arial, system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: var(--sans);
  --mono: ui-monospace, Consolas, monospace;

  font: 14px/1.29 var(--sans);
  color-scheme: light;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#root {
  max-width: 100%;
  min-height: 100svh;
  text-align: center;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
}

h1 {
  font-size: 36px;
  letter-spacing: -0.5px;
  margin: 24px 0 12px;
  @media (max-width: 600px) {
    font-size: 28px;
    margin: 16px 0 8px;
  }
}
h2 {
  font-size: 20px;
  line-height: 118%;
  margin: 0 0 8px;
  @media (max-width: 600px) {
    font-size: 18px;
  }
}
p {
  margin: 0;
}

a {
  color: var(--color-primary);
  text-decoration: underline;
}

code {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
  font-size: 13px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
